.wrapper {
	.tabs {
		display: flex;
		align-items: center;
		gap: 10px;

		.tab {
			margin-bottom: 0;
			font-weight: 600;
			font-size: 15px;
			.tab-name {
				font-weight: 400;
				font-size: 14px;
			}
		}
	}
	.charts-wrapper {
		margin-bottom: 30px;
		display: flex;
		justify-content: space-between;
		gap: 20px;

		@media (max-width: 768px) {
			flex-direction: column;
		}
		.card-wrapper {
			border-radius: 5px;
			padding: 20px;
			width: 100%;
			min-height: 500px;
			height: 100%;
			box-shadow: 0px 0px 3.6px rgba(0, 0, 0, 0.015),
				0px 0px 10px rgba(0, 0, 0, 0.019), 0px 0px 24.1px rgba(0, 0, 0, 0.024),
				0px 0px 80px rgba(0, 0, 0, 0.03);

			@media (max-width: 426px) {
				min-height: 250px !important;
			}
		}
	}
}
.card-title {
	font-weight: 600;
	font-size: 18px;
	@media (max-width: 426px) {
		font-size: 16px;
	}
}
