@import '../../styles/variables';

.layout-wrapper {
	.sidebar-content-wrapper {
		padding-top: 64px;
		display: flex;
		align-items: flex-start;
		background-color: $color-bg;

		.collapsed-sidebar {
			width: 100px;

			@media (max-width: 768px) {
				width: 50px;
			}
		}

		.sidebar {
			width: 256px;
		}

		.cont {
			padding: 30px 16px;
			background-color: $color-white;
			height: calc(100% - 64px);
		}

		.collapsed-content {
			width: calc(100vw - 100px);

			@media (max-width: 768px) {
				width: calc(100vw - 50px);
			}
		}

		.content {
			width: calc(100vw - 256px);
		}
	}
}
