@import '../../styles/variables';

.header-wrapper {
	color: $color-white;
	border-bottom: 8px solid #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 64px;
	padding: 0.5rem 1.5rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;

	@media (max-width: 426px) {
		padding: 0.5rem;
	}

	.user-name {
		width: 40%;
		.name {
			font-size: 22px;
			margin-bottom: 0;
			font-weight: 600;

			@media (max-width: 426px) {
				font-size: 16px;
			}
		}
	}

	.brand-wrapper {
		width: 20%;
		text-align: center;
		.brand-name {
			font-size: 18px;
			margin-bottom: 0;
			font-weight: 600;
		}

		@media (max-width: 768px) {
			display: none;
		}
	}

	.users-wrapper {
		width: 40%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 24px;

		@media (max-width: 1024px) {
			gap: 8px;
		}
		@media (max-width: 768px) {
			width: 100%;
		}
		@media (max-width: 426px) {
			gap: 10px;
		}

		.view-type {
			display: flex;
			align-items: center;
			gap: 5px;

			@media (max-width: 426px) {
				display: none;
			}

			.user-type {
				margin-bottom: 0;
			}
		}
		.tages-wrapper {
			display: block;
			.tags {
				cursor: pointer;
				.tag-name {
					margin-bottom: 0;
					color: $color-white;
				}
			}

			@media (max-width: 426px) {
				display: none;
			}
		}

		.user-dropdown {
			display: none;

			@media (max-width: 426px) {
				display: block;
				.select-wrapper {
					width: 100px;
					background-color: transparent;
					:global {
						.ant-select-selector {
							background-color: transparent;
							color: $color-white;
							border: 1px solid $color-white;
						}
						.ant-select-arrow {
							color: $color-white;
						}

						:where(.css-dev-only-do-not-override-k83k30).ant-select:not(
								.ant-select-disabled
							):not(.ant-select-customize-input):not(
								.ant-pagination-size-changer
							):hover
							.ant-select-selector {
							border-color: transparent;
						}
					}
				}
			}
		}

		.nav-options {
			cursor: pointer;
		}
	}
}

.header-sr {
	background-color: #00684b;
}

.header-sm {
	background-color: #0070c0;
}

.header-ce {
	background-color: #7030a0;
}

.header-s {
	background-color: #c00000;
}

.header-admin {
	background-color: #001433;
}

.no-user-type {
	background-color: $color-white;
}
