@import '../../styles/variables';

.sidebar-wrapper {
	overflow: auto;
	height: 100vh;
	z-index: 1000;

	.collapse-btn {
		cursor: pointer;
		position: fixed;
		top: 100;
		left: 28px;
		z-index: 10;
		background-color: $color-blue;
		color: $color-white;
		padding: 10px 15px;
		border-radius: 5px;

		@media (max-width: 768px) {
			padding: 6px 5px;
			font-size: 16px;
			left: 10px;
			display: grid;
			place-items: center;
		}
		@media (max-width: 600px) {
			display: none;
		}
	}

	.side {
		margin-top: 10px;
		background-color: $color-bg;
		height: calc(100vh - 64px);
		overflow: auto;
		position: fixed;
		left: 0;
		top: 100px;
		bottom: 0;

		&::-webkit-scrollbar {
			display: none;
		}

		@media (max-width: 600px) {
			margin-top: 0;
			top: 60px;
		}
	}

	.sidebar-collapsed {
		width: 100px;

		@media (max-width: 768px) {
			width: 50px;
		}
	}

	.sidebar {
		width: 256px;
	}
}
