@import '../../styles/variables';

.sidebar-wrapper {
	.sidebar {
		background-color: $color-bg;
		width: 256px;
		height: calc(100vh - 64px);
		overflow: auto;
		position: fixed;
		left: 0;
		top: 64px;
		bottom: 0;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}
