@import '../../styles/variables';

.sidebar-wrapper {
	.sidebar {
		background-color: $color-bg;
		width: 256px;
		height: calc(100vh - 64px);
		overflow: auto;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
